@{
    ViewBag.Title = "Index";
}
@model List<u05001014_Practical_2.Models.Person>

<h2>Index</h2>

<h2>Study Group Members</h2>


    <table border="1">
        <tr>
            <th>Student Number</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Email</th>
            <th>Link</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.StudentNumber</td>
                <td>@item.Name</td>
                <td>@item.Surname</td>
                <td>@item.Email</td>
                <td>
                    <a href="@Url.Content(item.MyLink)">
                        <button>LINK</button>
                    </a>
                </td>
            </tr>
        }
    </table>    